.cat-container {
    width: 25%;
    background-color: #eff3ec;


    .cat-lists {
        list-style: none;
        padding: 0 0 3px 15px ;


        .cat-list {
            color: black;
            text-decoration: none;
            display: block;
            

        }

    }

}