.product-list {
    margin-top: 50px;
    justify-content: center;
    
}
.bgSvg{
    top :0;
    position:absolute;
    width:50%;
    left:0;
    z-index: -1;
   
}


.leftBox{
    height:100%;
    
}

.container{
    width:90%;
    margin-right:5% -15px;
}

.courseDetail-img{
    width:60%;
}
