.product-list {
    margin-top: 50px;
    justify-content: center;
    
}
.bgSvg{
    top :0;
    position:absolute;
    width:50%;
    left:0;
    z-index: -1;
   
}


.leftBox{
    height:100%;
    
}

.container{
    width:90%;
    margin-right:5% -15px;
}

.courseDetail-img{
    width:60%;
}

.course-desc-detail{
    font-size:.8rem;
    color:#5C6447;
    width:80%;
    margin:8% 5% 5% 5%;
    height:10%;
}

.img-wrap{
    width: 550px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
  
}

.detail-top-img{
    width:100%;
    height:100%;
    object-fit:cover;
   
}

.course-img-detail{
    overflow: hidden;
    object-fit:cover;
    height:60%;
    width:100%;
}

.course-recom-cardBody{
    padding:0;
}
.recom-name{
    margin-top:5%;
    padding:5%;
    font-size: .8rem;
    text-align: center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.name{
    display:flex;
    justify-content: center;
}
.more{
    font-size: .8rem;
    text-decoration: underline;
    text-align: center;
    margin-right:5%;
}
.course-add-cart{
    width:100%;
}

.course-price-detail{
    display:flex;
    justify-content: center;
    width:100%;
    color:#bf8c60;
    font-size: 40px;
    
}
.people{
    font-size:.8rem;
    margin-top:-10px;
    display:flex;
    justify-content: space-evenly;
    color:#a8b38b;
    
}
.course-btn{
    border:#D4AE5C;
    background:#D4AE5C;
}
.course-card-content{
    height:100%;
}
.course-score{
    color:#a8b38b;
    display:flex;
    justify-content: start;
    padding-left: 25px;
}
@media screen and (max-width: 1000px) {
    .detail-top-img{
        width:70%;
        height:100%;
        object-fit:cover;
       
    }
    .course-tools{
        width:90%;
        padding:0;
    }
    
}