.burgerBar-show {
  position: absolute;
  background: #5C6447;
  width: 20vw;
  left: 0;
  transition: .5s;
  z-index: 1000;
  .burgerBar-show-btn {
    color: #5C6447;
    margin-left: 20.2vw;
    transition: .5s;
    z-index: 1000;
  }
  
}

.burgerBar-hide {
  position: absolute;
  background: #5C6447;
  width: 0;
  left: 0;
  transition: .5s;
  z-index: 1000;
  .burgerBar-hide-btn {
    color: #5C6447;
    margin-left: 0.2vw;
    transition: .5s;
    z-index: 1000;
  }

}

.burgerBar-lists {
    list-style: none;
    
    li a {
        color: #ffffff;
        font-size: 16px;
        opacity: 0.7;

        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }
}

