.formBg {
  background-color: white;
  margin: 80px auto;
  border-radius: 5px;
  box-shadow: 0 0 7px #ccc;
}

.inputBg {
  background-color: #d5d7cf;
}

.labelTxt {
  color: #757d58;
  font-weight: bold;
}

.remarks {
  margin-top: 40px;
}

.labelSize {
  font-size: 36px;
  width: 300px;
}

.w-40 {
  width: 40%;
}

.paymentOption {
  margin: auto;
}
