.firstPage {
  width: 100vw;
  height: 100vh;
  background-color: white;
  .bgLeft {
    width: 50vw;
    height: 100vh;
    background: url('../pages/homeImages/home.svg') no-repeat;
    background-size: 110% 110%;
    background-position: center;
    background-color: #eff3ec;
    position: relative;
    .oval {
      height: 150px;
      background: url('../pages/homeImages/oval.svg') no-repeat;
      background-size: 100% 100%;
      background-position: center;
      transform: translateY(150px); 
    }
  }
  .bgRight {
    width: 50vw;
    height: 100vh;
    .aLink {
      margin-top: 45vh;
      h5 {
        margin: 30px 0;
        letter-spacing: 5px;
        color: #bf9a00;
        text-align: center;
      }
    }
  }
}

.secondPage {
  width: 100vw;
  height: 100vh;
  background-color: #a8b38b;
  position: relative;
  .story {
    h3 {
      color: white;
      position: absolute;
      left: 0;
      top: 20vh;
      font-weight: bold;
    }
    .brandPic {
      background: url('../pages/homeImages/home.svg') no-repeat;
      background-size: 110% 110%;
      background-position: center;
      height: 250px;
      width: 200px;
      position: absolute;
      top: 30vh;
      left: 10%;
      z-index: 1;
    }
  }
  .description1 {
    width: 400px;
    height: 200px;
    position: absolute;
    right: 300px;
    top: 35vh;
    border: 1px solid white;
    padding: 20px;
    h4 {
      color: white;
      text-align: left;
    }
    h6 {
      margin-top: 30px;
      color: white;
      text-align: center;
    }
  }
  .description2 {
    width: 400px;
    height: 200px;
    position: absolute;
    color: #5c6447;
    border: 1px solid #5c6447;
    padding: 20px;
    left: 300px;
    top: 400px;
    h4 {
      color: #5c6447;
      text-align: center;
    }
    h6 {
      margin-top: 30px;
      color: #5c6447;
      text-align: center;
    }
  }
  .moreBtn {
    width: 300px;
    height: 150px;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    right: 200px;
    top: 420px;
    .more {
      color: #c5895a;
      font-size: 24px;
      position: absolute;
      right: 40px;
      bottom: 20px;
      opacity: 1;
    }
  }
}

.thirdPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fourthPage {
  width: 100vw;
  height: 100vh;
  background-color: lightcoral;
}
