.box {
    background-color: #c1cca4;
    width: 100vw;
    height: 100vh; 
}
 .inside {
    display: flex;
    position: absolute;
    top: 300px;
    left: 450px;
 }

 .title {
    color: #464e2d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: justify;
    text-shadow: 1px 1px rgb(116, 27, 27);   
 }

 .up {
    width: 20%;
    height: 20%;
    position: relative;
    left: 200px;
 }

 .down {
    width: 20%;
    height: 20%;
    position: relative;
    right: 200px;
 }