.page-lists {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .page-list {
    cursor: pointer;
    color: #ffffff;
    background-color: #5e6248;
    width: 25px;
    margin: 3px;
    text-align: center;
  }
  
  .tools {
    color: rgb(141, 151, 143);
    font-size: 0.7rem;
    margin: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  
  .bgSvg {
    height: 230vh;
    opacity: 0.5;
  }
  