.page-lists {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.page-list {
    cursor: pointer;
    color: #ffffff;
    background-color: #5e6248;
    width: 25px;
    margin: 3px;
    text-align: center;

}