.track-card{
    position: relative;
    width: 200px;
    height: 350px; 
    margin: 10px;
    background-color: white;
}
.track-photo{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 250px;
    overflow: hidden;
}
.track-photo:hover{
    opacity: .9;
}
.track-card-body{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    background-color: white;
}
.trackingCard-item-name{
    max-width: 200px;
    padding-bottom: 5px;
    margin-bottom: 17px;
    border-bottom: 1px solid #5C6447;
}
.trackingCard-item-price{
    display: inline;
    margin: 0px;
}
.heart-position{
    position: relative;
    right: 0;
    top: 0;
} 


@media  (max-width: 768px) {
   .track-card{
    position: relative;
    width: 200px;
    height: 350px; 
    margin: 5px;
    background-color: white;
} 

}